body {
    font-family: Roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px; /* Reset body margins */
    padding: 100px; /* Reset body padding */
    background-color: black;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


.header {
    background-color:#1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0%;
    padding-left: 50px; /* Ensure consistent left padding */
    text-align: left; /* Align text to the left */
}

.nav__list{
    display: flex;
    list-style: none;
    list-style-type: none;
    margin: 0;
    justify-content: space-between;
    gap: 40px;
    }


 .box1{  
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    height: 35vh;
    padding: 50px;
    justify-content:space-around;
    align-items: center;
    padding-left: 50px; /* Match padding with .header */
    text-align: left; /* Align text to the left */
    }
    
.box1__title{
    display: flex;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    flex-direction: column;
    width: 34%;
    justify-content: right;

    }
.box1__text{
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    font-weight:initial;

    }
.box1__button {
        background-color: #3882F6;
        color: #E5E7EB;
        border: none;
        border-radius: 8px;
        width: 40%;
        font-size: 18px;
        font-weight:initial;
    }
.image-placeholder{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: gray;
    width: 400px;
    height: 100px;
    padding: 40px;
    border: 10px solid gray;
}

.box2{  
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    font-size: 1.5rem;
    font-weight: bold;
    flex-direction: column;
    gap: 30px;
}
.boxes-inside-box2{
    display: flex;
    flex-direction: row;
    align-items: start;
    font-size: initial; /* Reset font size to default */
    font-weight: initial; /* Reset font weight to default */
    padding: 10px;
    gap: 50px;
}
.box-with-text {
    display: flex;
    flex-direction: column; /* Stack the box and text vertically */
    text-align: center; /* Center align the text */
    gap: 10px; /* Add some space between the box and the text */
}
.rounded-box1{
    background-color: white;
    padding: 20px;
    border: 5px solid #3882F6;
    border-radius: 25px; /* Makes the corners rounded */
    width: 10vh;
    height: 10vh;
}
.text-below-rounded-box1{
    display: flex;
    width: 10vh;
    overflow: hidden;
    font-size: 10px;
    align-self: center;
}


.box3{  
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 35vh;
    padding: 120px;
    }
.box3__quote{
    font-style: light italic;
    color: #1F2937;
    font-size: 36px;
}
.box3__author{
    font-style: bold;
    font-weight: 500;
    font-size: 36px;
    text-align: right; /* Align text to the right */
}

.box4{
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: center;
}

.box4_content{
    background-color:#3882F6;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    width: 80%;
    color: white;
    gap: 20px;
    justify-content: space-around;

}
/* .box4_text{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}
 */

.box4__button{
    background-color: #3882F6;
    color: white;
    border: 2px solid white; /* Define a white border with a solid style */
    border-radius: 10px;
    width: 10%;
    height: 30%;
    align-self: center;
}
.footer {
    background-color: #1F2937;
    width: 100%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
}

