body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    background-color: orange;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


.header {
    background-color: rgb(1, 1, 129);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0%;
    padding-left: 50px; /* Ensure consistent left padding */
    text-align: left; /* Align text to the left */
}

.nav__list{
    display: flex;
    list-style: none;
    list-style-type: none;
    margin: 0;
    justify-content: space-between;
    gap: 40px;
    }


 .box1{  
    background-color: rgb(1, 1, 129);
    color: white;
    display: flex;
    flex-direction: row;
    height: 20vh;
    padding: 50px;
    width: 100%;
    justify-content:center;
    align-items: center;
    padding-left: 50px; /* Match padding with .header */
    text-align: left; /* Align text to the left */
    }
    
.box1__title{
    display: flex;
    color: rgb(202, 8, 8);
    flex-direction: column;
    width: 34%;
    justify-content: right;


    }
.box1__text{
    display: flex;
    color: green;
    font-size: 20px;
    }
.image-placeholder{
    display: flex;
    justify-items: center;
    background-color: violet;
    width: 400px;
    height: 100px;
    padding: 40px;
    border: 10px solid yellow;
    }
.footer {
    background-color: rgb(1, 1, 129);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

